<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>SketchView</string>
	<key>Description</key>
	<string>A ProcessingKit sketch view class, with implementation and header files.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Default</key>
			<string>SketchView</string>
			<key>Name</key>
			<string>ProcessingKit sketch view class</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Summary</key>
	<string>A ProcessingKit sketch view</string>
</dict>
</plist>
